
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498524550280'); /* IE9*/
  src: url('iconfont.eot?t=1498524550280#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498524550280') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498524550280') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498524550280#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before { content: "\e600"; }

.icon-huancun:before { content: "\e60e"; }

.icon-fangda:before { content: "\e66a"; }

.icon-bianji:before { content: "\e6e3"; }

.icon-tijiao:before { content: "\e610"; }

.icon-gongwangIP:before { content: "\e61f"; }

.icon-hadoop:before { content: "\e607"; }

.icon-guanxixingshujuku:before { content: "\e63f"; }

.icon-x:before { content: "\e629"; }

.icon-ziyuanpeizhi:before { content: "\e611"; }

.icon-suoxiao:before { content: "\e744"; }

.icon-zookeeper:before { content: "\e771"; }

.icon-qingkong:before { content: "\e619"; }

.icon-nas:before { content: "\e662"; }

.icon-spark:before { content: "\e601"; }

.icon-miyue:before { content: "\e672"; }

.icon-fanghuoqiang:before { content: "\e676"; }

.icon-mongodb:before { content: "\e603"; }

.icon-zhuji:before { content: "\e762"; }

.icon-yingpan:before { content: "\e633"; }

.icon-gaojipeizhi:before { content: "\e641"; }

.icon-fuzaijunhengqi:before { content: "\e604"; }

.icon-luyouqi:before { content: "\e606"; }

.icon-siyouwangluo:before { content: "\e608"; }

